  
name: Java CI
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master    
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: ['1.8', '11.0.4']
    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}   
    - name: Build with Gradle
      run: ./gradlew build
